.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 40rem;
    overflow: scroll;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #0aa83c;
    border-color: #0aa83c;
    color: white;
  }
  
  .actions .button {
    background-color: #068a30;
    color: white;
    border: 1px solid #068a30;
  }

  .actions .button--alt {
    color: white;
    background-color: #b60b0b;
    border: 1px solid #9e0b0b;
  }
  
  .actions .button--alt:hover,
  .actions .button--alt:active {
    background-color: #ed2929;
    border-color: #be0b0b;
    color: white;
  }